:root{
    --cor1 : #14171B;
    --cor2 : #d9083c;
    --cor3 : #fff;
    --cor4 : #202225;
    --cor5 : #f8f9fa;
    --cor6 : #0d6efd;
    --cor7 : #d2d2d2;
  }
  body {
    background-color: var(--cor5);
  }
  .card-header {
    background-color: var(--cor6);
    color: var(--cor3);
  }
  .fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor6);
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    color: var(--cor3);
    font-size: 24px;
  }
  
  .img{
    width: 120px;
    margin-left: 20px;
  }

  .bgcolorRed{background: var(--cor2);}
  .bgcolorGray{background: var(--cor4);}
  .bgcolorDark{background: var(--cor1);}
  .bgcolorLight{background: var(--cor3);}
  .colorRed{color: var(--cor2);}
  .colorGray{color: var(--cor4);}
  .colorDark{color: var(--cor1);}
  .colorLight{color: var(--cor3);}

  .dropdown-toggle{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .dropdown-toggle::after{
    display: none;
  }
  .dropdown-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnAddingService{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border: 2px solid var(--cor7);
  }
  .btnAddingService:hover::after{
    position: absolute;
    bottom: 5px;
    left: 80px;
    content: 'Adicionar Produto/Serviço';
    text-align: left;
    text-indent: 10px;
    font-size: 12px;
    width: 200px;
    transition: 1s ease-in-out;
    color: var(--cor7);
  }
  .btnAddingService > svg{
    width: 25px;
    fill: var(--cor7);
  }
  .btnAddingService:hover{
    border: 1px solid var(--cor2);
    transition: .5s ease-in-out;
  }
  .btnAddingService:hover > svg {
    transition: .9s ease-in-out;
    fill: var(--cor2);
  }

  .btnlight{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btnlight > svg {
    width: 20px;
  }

  #copy{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 7px;
    color: var(--cor7);
    opacity: .3;
  }
  #copy > a {
    color: inherit;
    text-transform: none;
    text-decoration: none;
  }
  #copy > a > svg {
    width: 13px;
  }

  @media (min-width: 768px) {

    #copy{
      font-size: 10px;
    }
    #copy > a > svg{
      width: 16px;
    }
}